<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>co.theengineer.currencyExchange</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0C800566-166D-47A0-AEFC-66217363C0F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76D122C9-87F9-4053-B6DF-8F4F0FA0D50C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>101E6D80-94A8-4EAF-8209-793BA60F0242</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E8378AE-3331-4478-A5B0-B62A0A69163A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2EFEFB6F-F70E-495D-85EA-DCC9438B2BA8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C800566-166D-47A0-AEFC-66217363C0F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>36DDF8BA-5338-4E28-BA23-44C6756B7F39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFE722CE-3505-438B-A4B3-D8080B866417</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E8378AE-3331-4478-A5B0-B62A0A69163A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>40481260-9D0F-4F3E-9B18-76EEB76DF8FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Daniel Infante Vargas</string>
	<key>description</key>
	<string>Convert currencies</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Currency Exchange</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CFE722CE-3505-438B-A4B3-D8080B866417</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cur</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python convert.py $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Try ‘100‘, ‘100 GBP‘ or ‘100 BTC in USD‘ to convert currency</string>
				<key>title</key>
				<string>Convert currencies</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>36DDF8BA-5338-4E28-BA23-44C6756B7F39</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Convert from: {query}</string>
				<key>title</key>
				<string>Default currency set</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>76D122C9-87F9-4053-B6DF-8F4F0FA0D50C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cur from</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Set default currency to convert from</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2EFEFB6F-F70E-495D-85EA-DCC9438B2BA8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python convert.py from {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0C800566-166D-47A0-AEFC-66217363C0F4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Convert to: {query}</string>
				<key>title</key>
				<string>Default currency set</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>40481260-9D0F-4F3E-9B18-76EEB76DF8FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python convert.py to {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3E8378AE-3331-4478-A5B0-B62A0A69163A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cur to</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Set default currency to convert to</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>101E6D80-94A8-4EAF-8209-793BA60F0242</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0C800566-166D-47A0-AEFC-66217363C0F4</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>101E6D80-94A8-4EAF-8209-793BA60F0242</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>2EFEFB6F-F70E-495D-85EA-DCC9438B2BA8</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>36DDF8BA-5338-4E28-BA23-44C6756B7F39</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>3E8378AE-3331-4478-A5B0-B62A0A69163A</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>40481260-9D0F-4F3E-9B18-76EEB76DF8FE</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>76D122C9-87F9-4053-B6DF-8F4F0FA0D50C</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>CFE722CE-3505-438B-A4B3-D8080B866417</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/daninfpj/currency-exchange</string>
</dict>
</plist>
